{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Manufacturer</th>
                <th scope="col">Name</th>
                <th scope="col">Item Code</th>
                <th scope="col">Cost Price</th>
                <th scope="col">Quantity In Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for inventory in inventories %}
                <tr style="cursor: pointer; cursor: hand;" onclick="window.location= `{% url 'per_product' inventory.id %}`">
                    <th scope="row">{{ forloop.counter }}</th>
                    <th scope="row">{{ inventory.manufacturer }}</th>
                    <th scope="row">{{ inventory.name }}</th>
                    <th scope="row">{{ inventory.item_code }}</th>
                    <th scope="row">{{ inventory.cost_price }}</th>
                    <th scope="row">{{ inventory.quantity_in_stock }}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}